html {
    background-color: #31304D;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color:#31304D;
    background-color:#F0ECE5;
    font-size: 3rem;
}

h2 {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    font-size: 2rem;
}

h3 {
    margin: 25px 0px 0px 0px;
    padding: 0px;
    font-size: 1.5rem;
}

p {
    margin: 5px;
    padding: 0px;
    font-size: 1rem;
}

ul {
    background-color: #F0ECE5;
    color: #31304D;
    text-align: center;
    width: 50%;
    margin: auto auto;
    padding: 0px 0px 40px 0px;
}

li {
    display: block;
}

#lb {
    width: 20%;
    margin: 0px;
    padding: 0px;
}

#lb img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#rb {
    width: 20%;
    margin: 0px;
    padding: 0px;
}

#rb img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #F0ECE5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin: 0px 20px;
    text-decoration: none;
    color:#31304D;
    font-weight: 800;
    font-size: 1.5rem;
}

#home {
    margin: 0px 64px;
}

.nav:hover {
    background-color:#31304D;
    color:#F0ECE5;
    padding: 10px;
}