/* Broad Rules */
html {
    background-color: #EAAA00;
    color: white;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

/* Header Rules */

header {
    text-align: center;
    width: 100%;
    background-color: #002855;
    margin: 0px;
    padding: 0px;
}

header section{
    display: flex;
    width: 100%;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 20%;
}

header h1 {
    padding: 0px 0px 10px 0px;
    font-family: 'Diplomata SC';
    font-size: 3.5rem;
    width: 60%;
    margin: 0px;
}

#nav {
    display: flex;
    margin: 0px;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-around;
}

.nav {
    display: block;
    font-size: 1.5rem;
    padding: 5px 20px;
    margin: 0px;
}

.Nav {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    margin: 0px;
}

.Nav:hover {
    background-color:#EAAA00;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    margin: 0px;
    cursor: pointer;
    box-shadow: -4px 4px white;;
}

/* Banner Rules */

#banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    width: 98%;
    height: 410px;
    margin: 30px auto;
}

.img {
    width: 31.5%;
}

.img img {
    width: 100%;
    overflow: hidden;
    height: 400px;
}

/* Menu Rules */

#menu {
    display: block;
    text-wrap: wrap;
    background-color:#002855;
    width: 98%;
    margin: 0px auto;
    padding: 0px;

}

#menu ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.ms {
    display: block;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
    width: 100%;
}

.MS {
    display: block;
    margin: 0px;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    width: 100%;
}

.MS:hover {
    display: block;
    background-color: #EAAA00;
    margin: 0px;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    width: 100%;
    box-shadow: 4px 4px #002855;
}

/* Events Rules */

#events {
    margin: 50px auto;
    padding: 10px 0px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.events {
    background-color:#002855;
    text-align: center;
    width: 30%;
}

.events img {
    width: 95%;
}

/* Location Rules */

#location {
    background-color: grey;
    text-align: center;
    padding: 10px 0px;
}

#location h1 {
    font-size: 4rem;
}

/* Footer Rules */

footer {
    background-color: #002855;
    padding: 20px 0px;
    margin: 50px 0px 0px 0px;
}

#hours {
    text-align: center;
    font-size: 2rem;
}

#hours ul {

}

#hours ul li {
    display: block;
}