html {
    font-size: 16px;
    background-color: #E2D784;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px; 
    overflow: scroll;
}

/* Header Rules */

header {
    background-color: #062C30;
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

header section {
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}

header section h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'protest riot';
    font-size: 5rem;
    text-shadow: -10px 10px black;
    height: 100%;
}

#nav1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    justify-content: space-around;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    padding: 0px;
    width: 15%;
    height: 50%;
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    padding: 5px 10px;
    background-color: #05595B;
    height: 100%;
    width: 100%;
}

.nav a p {
    font-size: 100%;
}

.nav a:hover {
    text-decoration: none;
    font-size: 1.25rem;
    color: #062C30;
    padding: 5px 10px;
    background-color: #E2D784;
    width: 100%;
}

/* Main Body Rules */

main {
    width: 100%;
}

#quote {
    text-align: center;
    width: 80%;
    box-shadow: #062C30 -5px 5px;
    border: solid black 2px;
    margin: 50px auto;
    background-image: url("/Photos/Design 5.png");
    background-size: cover;
    background-position: bottom;
    color: black;
    font-family: 'protest riot';
}

#quote h1 {
    font-size: 5rem;
    font-weight: 800;
}

#quote h2 {
    font-size: 2rem;
    font-weight: 800;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color:#062C30;
    margin: 0px;
}

.photos {
    background-color: white;
    text-align: center;
    margin: 10px 0px;
    border-radius: 10px;
}
.photos h1 {
    font-size: 2rem;
    font-family: 'Raleway';
    margin: 20px 0px;
}

.photos h2 {
    font-size: 1.5rem;
    font-family: 'Raleway';
    margin: 20px 0px;
}

.photo {
    border: solid black 5px;
    margin: 2px;
    border-radius: 10px;
}

#sd {
    background-color: white;
    margin: 20px auto;
    width: 80%;
}

#sd ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#sd ul li {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
}

#sd ul li h1 {
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
}

#sd ul li p {
    margin: 0px;
    padding: 0px;
}



button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    box-shadow: -2px 2px black;
    background-color:#062C30;
    color: white;
}

button:hover {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    background-color:#05595B;
    color: white;
}